.modal {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  width: 496px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 36px 50px 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
}

.modal__content form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  background: none;
}

.modal__form__title {
  margin: 0;

  font-size: 16px;
}

.modal__form__submit-btn {
  margin: 0;
  margin-top: 26px;
  padding: 8px 16px;
  color: rgba(255, 255, 255, 1);
  background-color: black;

  transition: background-color 0.25s ease-in-out;
}

.submit-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal__register-text {
  text-align: center;
  margin: 0;
  margin-left: 12px;
  margin-top: 26px;

  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.modal__register-text:hover {
  cursor: pointer;
}

.modal__form__submit-bt_valid:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__form__submit-btn_disabled {
  background-color: rgba(0, 0, 0, 0.3);
}
