.modal {
  font-family: "Cabinet Grotesque", Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 36px 50px 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  background: none;
}

.modal__form__title {
  margin: 0;

  font-size: 16px;
}

.modal__form__submit-btn {
  margin: 0;
}
