.header__toggle-container {
  position: relative;
  padding-right: 20px;
  user-select: none;
}

.header__toggle-container:hover {
  cursor: pointer;
}

.header__toggle-slider {
  position: absolute;

  transition: left 0.3s ease-in-out;
}

.header__toggle-slider-on {
  left: 1px;
}

.header__toggle-slider-off {
  left: 28px;
}

.header__toggle-text-f {
  position: absolute;
  color: white;
  bottom: -8px;
  left: 10px;
  z-index: 1;

  font-family: "Cabinet Grotesque", Arial, Helvetica, sans-serif;
  transition: color 0.3s ease-in-out;
}

.header__toggle-text-c {
  position: absolute;
  right: 28px;
  bottom: -8px;
  color: black;
  z-index: 1;

  font-family: "Cabinet Grotesque", Arial, Helvetica, sans-serif;
  transition: color 0.3s ease-in-out;
}

.header__toggle-on {
  color: white;
}

.header__toggle-off {
  color: rgba(0, 0, 0, 0.5);
}
