.card {
  position: relative;
  width: 325px;
  height: 328px;

  padding: 0;
}

.card__image {
  width: 325px;
  height: 328px;
}

.card__text {
  position: absolute;
  top: 15px;
  left: 130px;

  margin: 0;

  background-color: white;
  padding: 2px 12px 2px 12px;
}
