.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  max-width: 1360px;
  width: 100vw;

  margin: 32px 40px 28px 40px;
}

.header__left-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.header__right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__text {
  font-size: 20px;

  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;

  margin: 0;
}

.header__button {
  background: none;
  width: 116px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  margin-right: 20px;
}

.header__toggle-container {
  position: relative;
  padding-right: 20px;
  user-select: none;
}

.header__toggle-container:hover {
  cursor: pointer;
}

.header__toggle-slider {
  position: absolute;

  transition: left 0.3s ease-in-out;
}

.header__toggle-slider-on {
  left: 1px;
}

.header__toggle-slider-off {
  left: 28px;
}

.header__toggle-text-f {
  position: absolute;
  color: white;
  bottom: -8px;
  left: 10px;
  z-index: 1;

  font-family: "Cabinet Grotesque", Arial, Helvetica, sans-serif;
  transition: color 0.3s ease-in-out;
}

.header__toggle-text-c {
  position: absolute;
  right: 28px;
  bottom: -8px;
  color: black;
  z-index: 1;

  font-family: "Cabinet Grotesque", Arial, Helvetica, sans-serif;
  transition: color 0.3s ease-in-out;
}

.header__toggle-on {
  color: white;
}

.header__toggle-off {
  color: rgba(0, 0, 0, 0.5);
}

.header__button-text {
  display: inline;
  font-size: 20px;
  min-width: 116px;
  line-height: 24px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;

  color: black;
}

#header__avatar-name {
  padding-right: 12px;
}

.header__auth-buttons {
  display: flex;
  flex-direction: row;
}

.header__user-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: start;

  font-size: 20px;
  min-width: 116px;
  line-height: 24px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;

  color: black;
}

.header__avatar {
  width: 40px;
  height: 40px;

  text-align: left;
  font-size: 30px;
}
