.modal {
  font-family: "Cabinet Grotesque", Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;

  flex-direction: column;
  position: relative;

  z-index: 2;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.item__modal__close-btn {
  position: absolute;
  top: 80px;
  right: 480px;
  background: none;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 36px 50px 32px;
}

.modal__image {
  width: 498px;
  height: 498px;

  border-radius: 16px 16px 0 0;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  width: 498px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;

  background-color: white;

  padding: 20px 0 32px;

  border-radius: 0 0 16px 16px;
}

.modal__text {
  margin: 0;
  padding-left: 32px;

  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}
