.sidebar {
  width: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__profile-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;

  margin-top: 8px;
}

.sidebar__text {
  font-family: "Cabinet Grotesque", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

.side__profile-signout-btn {
  background-color: red;
  width: 50%;
  margin-top: 50px;
}
